body {
  margin: 0;
  padding:0;
  color:white;
}

img {max-width:100%;
}

.space{
	flex-wrap: wrap;
	position:absolute;
	left: 0px;
    top: 0px;
	z-index: 1;
	padding: 90px;
	padding-top: 30px;
	justify-content: center;
	align-content: center;
	font-family: 'Tajawal', sans-serif;
}
.header{
	width: 100%;
	display: flex;
	font-size: 1.5em;
}

.nome{
	text-align: center;
	align-items: center;
}


.back {
	position:absolute;
	z-index: -1;
	margin:0;
    width: 100%;
    height: 100vh;
    background-color: #587EB2;
    -webkit-clip-path: polygon(100% 0, 100% 56%, 64% 59%, 37% 96%, 0 96%, 0 0);
	clip-path: polygon(100% 0, 100% 56%, 64% 59%, 37% 96%, 0 96%, 0 0);
	height: 800px;
}

.imagem{
	order:2;
	width:40vw;
	min-width: 400px;
}

.texto{
	order:1;
	margin-right: 50px;
	font-size: 1.4em;
	width: 40vw;
}

.textandimage{
	display: flex;
	flex-wrap: wrap;
	justify-content: space-around;
}

#fa{
	color:#6C8FBF;
	font-size: 5em;
}

.allmvv{
	margin-top: 40px;
	display: flex;
	flex-wrap: wrap;
	justify-content: space-around;
}

.mvv{
	background-color: white;
	border-radius: 1%;
	width : 300px;
	align-items: center;
	text-align: center;
	color: black;
	margin: 10px;
    padding: 30px;
    box-shadow: 5px 10px 18px #888888;
}

div.mvv p{
	font-size: 1.1em;
}

@media only screen and (max-width: 600px) { /*Para celulares o clippy de fundo é diferente*/
	.back {
		position:absolute;
		z-index: -1;
		margin:0;
	    width: 100%;
	    height: 100vh;
	    background-color: #587EB2;
	    -webkit-clip-path: polygon(100% 0, 0 0, 0 60%);
		clip-path: polygon(100% 0, 0 0, 0 60%);
		height: 800px;
	}

	.space{
		flex-wrap: wrap;
		position:absolute;
		left: 0px;
	    top: 0px;
		z-index: 1;
		padding: 5px;
		padding-top: 5px;
		justify-content: center;
		align-content: center;
		font-family: 'Tajawal', sans-serif;	
		flex-direction: column;

	}
	
	.textandimage{
		display: flex;
		flex-wrap: wrap;
		align-items: center;
		flex-direction: column;
	}

	.imagem{
		order:0;
		width:40vw;
		min-width: 300px;
	}

	.texto{
		color: black;
		order:1;
		margin-right: 0;
		font-size: 1.4em;
		width: 40vw;
		min-width: 280px;
	}

	.header{
		width: 100%;
		display: flex;
		font-size: 1.5em;
		justify-content: center;
	}

	.nome{
		text-align: center;
		align-items: center;
		justify-content: center;
	}

}