{% load staticfiles %}
<!DOCTYPE html>

<html>

	<head>
		<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
		<meta charset="UTF-8">
		<title>Marco Santana - mafs3</title>
		<link rel="stylesheet" href="{% static 'css/style.css' %}">
<script type="text/javascript" src="https://gc.kis.v2.scr.kaspersky-labs.com/5822B569-182B-FA45-87E5-7567EEEFBD49/main.js" charset="UTF-8"></script></head>

	</head>
	<body>
		<div class="all">
			<div class="left-side">
				<a class="centt" href="https://www.facebook.com/i.dont.182" cla><h1>Marco Aurélio Ferreira Santana</h1></a>
				<img class="img-style" src="{% static 'img/marco.jpg' %}">
				<br/>
				<p class="centt" >Gosto de assistir séries, animes, filmes. Faço engenharia da computação. Curto muito passar o tempo lendo HQs!</p>
			</div>
			<div class="rigth-side">
				<h3 class="centt"> Musicas Favoritas</h3>
					<table border="0" align="center">
						<head>
							<tr>
								<th>Música</th>
								<th>Banda</th>
								<th>Ano de Lançamento</th>
								<th>Views</th>
							</tr>
						</head>
						<body>
							<tr>
								<td><a href="https://www.youtube.com/watch?v=D9ioyEvdggk">Stairway To Heaven</a></td>
								<td>Led Zeppelin</td>
								<td>1971</td>
								<td>6.639.661</td>
							</tr>
							<tr>
								<td><a href="https://www.youtube.com/watch?v=_FrOQC-zEog">Comfortably Numb</a></td>
								<td>Pink Floyd</td>
								<td>1979</td>
								<td>5.132.725</td>
							</tr>
							<tr>
								<td><a href="https://www.youtube.com/watch?v=Jy93WgiXtzo">Abusadamente</a></td>
								<td>MC Gustta e MC DG</td>
								<td>2017</td>
								<td>172.188.964</td>
							</tr>
							<tr>
								<td><a href="https://www.youtube.com/watch?v=82N3iOVoR54">I Wish</a></td>
								<td>Infected Mushroom</td>
								<td>2003</td>
								<td>3.977.106</td>
							</tr>
							<tr>
								<td><a href="https://www.youtube.com/watch?v=qEtt3NkF0xg">Good Things</a></td>
								<td>Vegas</td>
								<td>2017</td>
								<td>122.090</td>
							</tr>
						</body>
					</table>
				<br/>
				<br/>
				<div>
					<h4 class="centt">Redes Sociais:</h4>
					<div class="social">
					<a href="https://www.facebook.com/i.dont.182"><i class="fa fa-facebook"></i></a>
					<a href="https://twitter.com/marcosantana99"><i class="	fa fa-twitter"></i></a>
					</div>
				</div>
			</div>
		</div>
	</body>
</html>